<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
    <script>
        $(function(){
            var o = $("#input-container"),
                u = $("#suggest-align"),
                a = $(".ac_wrap"),
                m = $(".ac_menu"),
                f = $("#hh_search form"),
                i = $("#input"),
                x = null,
                s = "";
                w = "";
                ai = -1;

            f.on("submit", function() {
                if ($.trim(i.val()) == "") return i.focus(), !1
            });
            
            m.on("mouseover", "li", function() {
                $(this).addClass("selected");
                s = $(this).attr("acvalue");
                i.val($(this).attr("acvalue"));
            });
            
            m.on("mouseout", "li", function() {
                $(this).removeClass("selected");
                i.val(w);
                s = "";
            });
            
            m.on("click", "li", function(){
                f.submit();
                a.hide();
            });
            
            i.on({
                focus: function() {
                    o.addClass("focus"), u.addClass("hover");
                    if ($.trim(i.val()) != "" && a.find("li").length) { 
                        a.show();
                    }
                },
                blur: function() {
                    o.removeClass("focus"), u.removeClass("hover");
                    if (s == "") {
                        a.hide();
                    }
                }, 
                keydown: function(e) {
                    var t = e.keyCode || e.which;
                    if (t === 13) {
                        
                    } else if (t === 38) {
                        if (a.find("li").length == 0) return;
                        if (ai == -1) return;
                        
                        var el = $("li[ac_index='" + ai + "']");
                        el.removeClass("selected");

                        ai--;
                        
                        var el = $("li[ac_index='" + ai + "']");
                        el.addClass("selected");
                        s = el.attr("acvalue");
                        i.val(el.attr("acvalue"));
                        e.preventDefault();
                        return false;
                        
                    } else if (t === 40) {
                        if (a.find("li").length == 0) return;
                        if (ai == a.find("li").length - 1) return;
                        
                        var el = $("li[ac_index='" + ai + "']");
                        el.removeClass("selected");

                        ai++;
                        
                        var el = $("li[ac_index='" + ai + "']");
                        el.addClass("selected");
                        s = el.attr("acvalue");
                        i.val(el.attr("acvalue"));
                        e.preventDefault();
                        return false;
                    }
                },
                input: function() {
                    w = $.trim($(this).val());
                    if (x != null) x.abort();
                    if (w != "") {
                        x = $.ajax({
                            type: "GET",
                            url: "/autocomplete?q=" + encodeURIComponent(w) + "&e={{=it.user.e}}",
                            success: function(r) {
                                m.empty();
                                var ir = 0;
                                r.forEach(function(re){
                                    m.append('<li ac_index="' + ir + '" acvalue="' + re + '">' + re + '</li>');
                                    ir++;
                                });
                                if (ir > 0) { 
                                    a.show();
                                }
                            }
                        });
                    } else {
                        s = "";
                        m.empty();
                        a.hide();
                    }
                }
            });
        });
    </script>
</head>
<body class="hascard">
<div id="skin_bg"></div>
<div class="page-wrap skin-page-wrap" id="page1">

    <header id="header">
        <nav id="hh_nav">
            <ul class="skin-text skin-text-top">
            </ul>
        </nav>
    </header>

    <div id="main">
        <section id="hh_logo" class="anime">
            <a href="/" class="skin-logo pngfix" title=""></a>
        </section>
        <section id="hh_tabnav">
            <nav class="skin-text skin-text-tab">
                <a href="/news?e={{=it.user.e}}">{{=it.__("NEWS")}}</a>
                <strong>{{=it.__("WEB")}}</strong>
            </nav>
        </section>

        <section id="hh_search">
            <form action="/web" method="GET">
                <fieldset id="input-container" class="">
                    <div class="ac_wrap" style="min-width: 528px; top: 43px; left: 0px; display: none;">
                        <div class="ac_wrap_inner">
                            <div class="ac_menu_ctn">
                                <div id="ac_one"></div>
                                <ul class="ac_menu"></ul>
                            </div>
                        </div>
                    </div>
                    
                    <div id="suggest-align" class="skin-search-input">
                        <input type="text" name="q" class="placeholder" id="input" suggestwidth="528px" autocomplete="off">
                    </div>
                    <input type="submit" id="search-button" class="skin-search-button" value={{=it.__("SEARCH")}}>
                </fieldset>
            </form>
        </section>
    </div>
    <!--
    <footer id="footer" class="skin-text skin-text-foot">
        <nav>
            <a href="#" target="_blank">Feedback</a>
            <span>|</span>
            <a href="#" target="_blank">Help</a>
            <span>|</span>
            <a href="#" target="_blank">Contact</a>
            <span>|</span>
            <a href="#" target="_blank">Add</a>
        </nav>
        <p>©2015</p>
    </footer>
    -->
</div>
</body>

</html>